<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <header>
                    <h1>Die Liste der Personen</h1>
                </header>
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Beruf</th>
                        <th>Alter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${personList}">
                        <td th:text="${person.vorname}"></td>
                        <td th:text="${person.nachname}"></td>
                        <td th:text="${person.beruf}"></td>
                        <td th:text="${person.alter}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <header>
                    <h1>Die Liste der Waffen</h1>
                </header>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Material</th>
                        <th>Länge</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="weapon : ${weapongList}">
                        <td th:text="${weapon.bezeichnung}"></td>
                        <td th:text="${weapon.material}"></td>
                        <td th:text="${weapon.laenge}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <header>
                    <h1>Die Liste der Tatorten</h1>
                </header>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Grösse</th>
                        <th>Anzahl Fenster</th>
                        <th>Anzahl Türe</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="room : ${roomList}">
                        <td th:text="${room.bezeichnung}"></td>
                        <td th:text="${room.groesse}"></td>
                        <td th:text="${room.anzahl_fenster}"></td>
                        <td th:text="${room.anzahl_tuere}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>